<div class="employment-container">
  <div fxLayout="row" fxLayoutAlign="space-between" class="employment-header">
    <div class="role-with-employer">
      <div class="employer">{{ employer }}</div>
      <app-info-separator></app-info-separator>
      <div class="role">{{ role }}</div>
    </div>

    <div class="date-location">
      <div class="date">{{ startDateText }} - {{ endDateText }}</div>
      <app-info-separator></app-info-separator>
      <div class="location">{{ locationText }}</div>
    </div>
  </div>

  <div class="details-container">
    <ng-content select="[detail-item]"></ng-content>
  </div>
</div>
