@import 'src/assets/styles/colors.scss';
@import 'src/assets/styles/fonts.scss';
@import 'src/assets/styles/spacing.scss';

/* Custom Styles */
.resume-page {
  background: white;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 11in;
  margin: 0 auto;
  width: 8.5in;
}

.header {
  background: #dadada;

  display: grid;
  grid-template-columns: 1.25in 1fr;
  grid-template-rows: 1.25in 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'top-row-image top-row-most-important-info'
    'resume-description resume-description';

  .top-row-image {
    grid-area: top-row-image;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-row-most-important-info {
    grid-area: top-row-most-important-info;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      'name name'
      'email contact-number'
      'profile-link location';

    .name {
      grid-area: name;

      color: $header-font-color;
      font-size: 0.25in;
      font-weight: 700;
      padding-bottom: $default-padding-unit;
      padding-left: 0.1in;
      padding-top: 0.07in;
      display: grid;
      align-items: center;
    }

    .email {
      grid-area: email;
    }

    .contact-number {
      grid-area: contact-number;
    }

    .profile-link {
      grid-area: profile-link;
    }

    .location {
      grid-area: location;
    }

    .info-detail-item {
      display: flex;
    }

    .info-icon {
      width: 0.4in;
      height: 0.4in;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .info-value {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-variant: small-caps;
    }
  }

  .resume-description {
    grid-area: resume-description;

    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.headshot-img {
  height: 1in;
  width: 1in;
  border-radius: 50px;
}

.header-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-header {
  padding: $section-header-padding;
  font-size: $section-header-font-size;
  font-weight: $section-header-font-weight;
  color: $header-font-color;
}

/* Experience Section Styles */
.experience-container {
  padding: $section-container-padding;
}

/* Programming Languages Section Styles */
.programming-languages-container {
  padding: $section-container-padding;
}

/* Technologies & Frameworks Section Styles */
.technologies-frameworks-container {
  padding: $section-container-padding;
}

/* Education Section Styles */
.education-container {
  padding: 0 0.15in 0.15in 0.15in;
}

@page {
  margin: 0;
}

/* Pre-made Styles from Angular Project Template */

:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: '\2022 \2022 \2022';
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}
