<div class="education-container">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="school-degree">
      <div fxLayout="row">
        <span class="school">{{ school }}</span>
        <app-info-separator></app-info-separator>
        <span class="location">{{ location }}</span>
      </div>

      <div class="degree">{{ degree }}</div>
    </div>

    <div class="graduation-gpa">
      <div class="graduation">{{ graduationMonthYear }}</div>
      <div class="gpa">{{ cumulativeGpa }}</div>
    </div>
  </div>

  <div class="details-container">
    <ng-content select="[detail-item]"></ng-content>
  </div>
</div>
