/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: #212121;
}

.technical-term {
  font-weight: 500;
}

.details-container > div::before {
  content: '-';
}

.card {
  padding: 0.08in;
  background: #8888c3;
  color: white;
  margin: 0.05in;
  border-radius: 25px;
  font-weight: 500;
}
